body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #4b4b4b;
}

html {
    scroll-behavior: smooth; /* 부드러운 스크롤 */
}

.side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* 사이드바 너비 */
    height: 100vh;
    background-color: #12104E;
    color: #EDB352;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.side-header .menu-icon {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

.side-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-header nav ul li {
    margin: 10px 0;
}

.side-header nav ul li a {
    text-decoration: none;
    font-size: 1.2vw;
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    color: #EDB352;
}


.side-header nav ul li a.active {
    color: white;
    font-weight: bold;
    position: relative;
}

.side-header nav ul li a.active::after {
    content: "✔";
    position: absolute;
    left: 20px;
    color: white;
    font-size: 1rem;
}

/* 메인 섹션 스타일 */
main {
    margin-left: 15%;
    width: 85%;
}

.content-section {
    min-height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff; /* 섹션 배경 */
}


h2 {
    font-size: clamp(2rem, 5vw, 3rem);
}

p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

#section1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 90vh;
}

/* 섹션 내부 컨테이너 */
.section-container {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    gap: 20px; /* 이미지와 텍스트 사이의 간격 */
}

/* 이미지 스타일 */
.image-container img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

/* 텍스트 스타일 */
.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    text-align: left;
}

.text-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

#page_wrap {
    color: #12104E;
    margin: 0 0 20px 0;
    text-align: left;
    width: 400px;
}

.typed_wrap {
    width: auto;            /* 너비 자동 */
    max-width: 100%;        /* 최대 너비 제한 */
    margin-left: 130px;
    white-space: nowrap;
    height: auto;           /* 높이는 내용에 맞게 */
    box-sizing: border-box; /* 패딩과 테두리 포함 */
    text-align: left;       /* 텍스트 왼쪽 정렬 */
    font-size: 2rem;             /* 폰트 크기를 크게 (3rem = 약 48px) */
    line-height: 1.5;            /* 줄 간격 조절 */
    font-weight: bold;           /* 폰트 굵게 *

    /*centers it in the .banner*/

    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.typed_wrap h1 {
    margin: 0;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
    opacity: 0;
    display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* Contact 섹션 스타일 */
.contact-container {
    text-align: left; /* 가운데 정렬 */
    margin-top: 30px;   /* 위 여백 추가 */
    font-size: 1rem;    /* 폰트 크기 */
    color: #555;        /* 글자 색상 */
}

.contact-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-container p {
    margin: 5px 0; /* 각 줄 사이 여백 */
}

.contact-container a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #555;
}

/*아이콘 크기*/
a img{
    width: 28px;
}



/* section2 */
.skills-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.skills-title {
    font-size: 3rem;
    color: #EDB352; /* 포인트 색상 */
    font-weight: bold;
    margin-bottom: 30px;
}

.skills-columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}

.skills-category {
    flex: 1 1 calc(33.333% - 20px);
    margin-bottom: 20px;
    color: #333;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-category h2 {
    font-size: 1.5rem;
    color: #EDB352; /* 노랑 포인트 색상 */
    margin-bottom: 10px;
    border-bottom: 2px solid #EDB352;
    padding-bottom: 5px;
}

.skills-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-category ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    margin: 10px 0;
    justify-content: center;
}

.skills-category ul li img {
    width: 30px;
    height: 30px;
}

/* section4*/
.education-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.education-left h1{
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}
.certification-left h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.education-left p, .certification-left p {
    font-size: 1rem;
    margin: 5px 0 0;
    color: #777;
}

.education-right, .certification-right{
    font-size: 0.9rem;
    color: #12104E;
    text-align: right;
}

/*section5*/
#curriculum h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.curriculum-entry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.curriculum-left h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #12104E; /* 네이비 */
    margin-bottom: 5px;
}

.curriculum-left p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.curriculum-right h3 {
    font-size: 1.2rem;
    color: #EDB352; /* 포인트 색상 */
    margin-bottom: 10px;
}

.curriculum-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.curriculum-right ul li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.curriculum-right ul li::before {
    content: "✔";
    margin-right: 8px;
    color: #333; /* 포인트 색상 */
}


/* 반응형 레이아웃 */
@media (max-width: 768px) {
    .skills-category {
        flex: 1 1 calc(50% - 20px);
    }

    .side-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        background-color: #12104E;
        padding: 10px 0;
    }

    .side-header .menu-icon {
        display: block;
    }

    main {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .skills-category {
        flex: 1 1 100%;
    }
}
